@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome!</h1>
    <p class="lead">||Please Login or Register To Continue||</p>
    <p></p>
</div>

<div class="row">
    <div class="col-md-4">
        <p>
            
        </p>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>